# ignore mac ds_store files
./DS_Store
**/.DS_Store

# venv
/.venv/

# streamlit
.streamlit/
/.streamlit/secrets.toml

# environment
.env

# VS code autosave
./app.py.save

# chroma vector DB (too large to inlcude)
fantasy_high_db/
podcast_db/
chroma_db/
